@supports (display: grid) {
  // Pocetak Grida //
  .grid-container {
    display: grid;
    margin: 3rem auto;
    width: 33.6rem;
    @include breakpoint(desktop) {
      width: 110rem;
    }
  }

  .item--full {
    grid-column: 1 / -1;
  }
}
