// ----- Wrappers

#main {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.l {
  width: 100%;
  padding: 0 5rem; // Set design specific padding
  @include breakpoint(overPhone) {
    padding: 0 8rem; // Set design specific padding
  }
  @include breakpoint(desktop) {
    max-width: $site-desk-design;
    margin: auto;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.28;
  letter-spacing: normal;
  font-family: sans-serif;
  //   padding-top: 1rem;
  @include breakpoint(desktop) {
    padding-top: 3rem;
    font-size: 1.8rem;
    line-height: 1.28;
  }
}

p {
  display: none;
}

@include breakpoint(desktop) {
  // IMAGES WITH DIVS
  //   .article-preview1-img {
  //     background: center/cover no-repeat url("https://picsum.photos/200/264");
  //     height: 26.5rem;
  //   }
  //   .article-preview2-img {
  //     background: center/cover no-repeat url("https://picsum.photos/344/456");
  //     height: 45.6rem;
  //   }
  //   .article-preview3-img {
  //     background: center/cover no-repeat url("https://picsum.photos/492/400");
  //     height: 40rem;
  //   }
  //   .article-preview4-img {
  //     background: center/cover no-repeat url("https://picsum.photos/272/224");
  //     height: 22.4rem;
  //     width: 27.2rem;
  //     display: inline-block;
  //   }
}

.grid-container {
  margin: 0 auto;
  display: grid;
  width: 33.6rem;
  align-items: baseline;
  grid-template-columns: 15.6rem 16rem;
  grid-column-gap: 2rem;

  @include breakpoint(desktop) {
    width: 110rem;
    grid-template-columns: 20rem 34.4rem 49.2rem;
    grid-template-rows: 13.6rem 45.6rem;
    grid-column-gap: 3.2rem;

    .ap1 {
      grid-row-start: 2;
      grid-column-start: 1;
    }

    .ap2 {
      grid-row-start: 2;
      grid-column-start: 2;
    }

    .ap3 {
      grid-row-start: 1;
      grid-column-start: 3;
    }

    .ap4 {
      grid-row-start: 3;
      grid-column-start: 3;
      display: flex;
      margin-top: 1.6rem;

      h4 {
        padding: 0 1rem 0 3rem;
      }
    }
  }
}
