.p-fallbacks {
  font-size: 2rem;
  background: whitesmoke;
  color: #333;
  @include breakpoint(desktop) {
    padding: 3rem;
    p {
      margin: 3rem 0;
    }
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
    margin: 3rem 0;
  }
  h3 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
  p {
    display: block;
    margin: 3rem 0;
  }
}

#float-fallback {
  margin: 10rem auto;
  .grid > div {
    float: left;
  }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    width: 500px;
  }
  .grid > div {
    background-color: #694486;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}

#inline-block-fallback {
  margin: 10rem auto;
  .grid > div {
    display: inline-block;
  }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    width: 500px;
  }
  .grid > div {
    background-color: #694486;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}

#table-fallback {
  margin: 10rem auto;
  .grid > div {
    display: table-cell;
    vertical-align: top;
  }
  .grid {
    border-spacing: 10px;
  }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    width: 500px;
  }
  .grid > div {
    background-color: #694486;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}

#item-widths-fallback {
  margin: 10rem auto;
  .grid > div {
    float: left;
    width: 33.333%;
  }

  @supports (display: grid) {
    .grid > div {
      width: auto;
    }
  }

  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
  }

  .grid > div {
    background-color: #694486;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}
